<div class ='container'>
 
      <form class="form-signin" (ngSubmit)="tryLogin(myForm.value)" #myForm="ngForm">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="umail" class="sr-only">Email address</label>
        <input type="email" name="umail" class="form-control" placeholder="Email address" ngModel required autofocus>
        <label for="upassword" class="sr-only">Password</label>
        <input type="password" name="upassword" class="form-control" placeholder="Password" ngModel required>
 
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
 
</div>